[Unit]
Description=AmneziaWG client via awg-quick(8) for %I
After=network-online.target nss-lookup.target
Wants=network-online.target nss-lookup.target
Documentation=man:awg-quick(8)
Documentation=man:awg(8)

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/awg-quick up /etc/amnezia/amneziawg/%i.conf
ExecStop=/usr/bin/awg-quick down /etc/amnezia/amneziawg/%i.conf
ExecReload=/bin/bash -c 'exec /usr/bin/awg syncconf %i <(exec /usr/bin/awg-quick strip /etc/amnezia/amneziawg/%i.conf)'
Environment=WG_ENDPOINT_RESOLUTION_RETRIES=infinity
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
